<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ site.url }}{{ site.baseurl }}" class="logo"><strong>{{ site.title-bold }}</strong> <span>{{ site.title-normal }}</span></a>
	<!-- <nav>
		<a href="#menu">Menu</a>
	</nav> -->
	<nav>
		<div class="links">
	        {% for page in site.pages %}
			    {% if page.layout == "post2" %}
			        <div><a href="{{ page.url | prepend: site.baseurl | remove: "index.html" }}">{{ page.title }}</a></div>
		    	{% endif %}
			{% endfor %}
			<!-- {% for page in site.pages %}
			    {% if page.layout != "home" %}
			        <div><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></div>
			    {% endif %}
			{% endfor %} -->
		</div>
		<!-- <ul class="actions vertical">
		</ul> -->
	</nav>
</header>

<!-- Menu -->
